<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33257762857-cr5rv20rrqbcfhb69pkuk6o2pjcqoc1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33257762857-cr5rv20rrqbcfhb69pkuk6o2pjcqoc1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ61YNWxRpX8zXOVfUvXS2fvgS0x-H94M</string>
	<key>GCM_SENDER_ID</key>
	<string>33257762857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-d8787</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-d8787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33257762857:ios:c48f25cb97fb43655a2c38</string>
</dict>
</plist>